.main-heading
{
text-align: center;
}

body p
{
font-size:15px;
color:black;

}
body ul
{
font-size:15px;
color:black;
}
mark
{
    background-color: aqua;
}
.main-div
{
    height:100vh;
    overflow-y:scroll;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block !important;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}



.navigation {
        display: block !important;
}